# Настройки среды разработки PyCharm
.idea/

# Виртуальное окружение Python
.venv/
venv/
ENV/

# Локальная база данных SQLite
*.db
*.sqlite3

# Файлы с секретами и паролями
.env

# Кэш Python
__pycache__/
*.pyc
